# Dependencias
node_modules/
package-lock.json
yarn.lock

# Variables de entorno
.env
arduino/config.h

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Backups
src/views_backup/
coverage/

# Temporal
tmp/
temp/
*.tmp

# Documentos (Word y PDF)
*.docx
*.doc
*.pdf

# Build
dist/
build/
